doctype 5
html
  body
    div(style = "font-family:arial")
      h3 Timestamp Micro-Service
      p Application accepts either natural language date or UNIX timestamp as URL parameter and returns JSON array containing date in both formats
      p Examples:
      p https://apiprojects-benws.c9users.io/index/December%206,%201990
      p OR
      p https://apiprojects-benws.c9users.io/index/660441600000
      p RETURNS
      p {"unix":660441600000,"natural":"December 6,1990"}