doctype 5
html
  body
    div(style = "font-family:arial")
      h4(style = "color:blue") Timestamp Micro-
      br
      p Application accepts either:
      ol  
        li Natural language date 
        li Unix time 
      p returns JSON array containing date in both formats
      br
      p Usage example:
      code https://apiprojects-benws.c9users.io/index/December%206,%201990
      br
      code https://apiprojects-benws.c9users.io/index/660441600000
      p return
      code {"unix":660441600000,"natural":"December 6,1990"}